body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background: linear-gradient(#ff4d4d, #ff8080);
    }
  
  h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  #task-input {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .listTasks {
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .task:last-child {
    border-bottom: none;
  }
  
  .task .label {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .task button {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
  }
  
  .task button:hover {
    color: darkred;
  }
  