/* General Styles */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(42, 82, 152, 0.5);
  background-image: url(circuit-pattern.png);
  margin: 0;
  padding: 0;
  color: rgb(3, 35, 32);
}

header {
  background-color: rgba(173, 216, 230, 0.8);
  background-image: url(gear-pattern.png);
  padding: 20px;
}

.title {
  font-family: "SEGA LOGO FONT", sans-serif;
  font-size: 3rem;
  margin: 10px 0;
}

#searchBox {
  width: 50%;
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
}

.robots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.card {
  background: #ffffff;
  background-image: url(card-pattern.png);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
  color: #333;
  width: 200px;
  transition: transform 0.2s, background-color 0.2s;
}

.card img {
  border-radius: 50%;
  background: rgb(121, 121, 241);
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}

.card:hover {
  transform: scale(1.05);
  background-color: #f0f8ff;
}

.card h2 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.card p {
  font-size: 0.9rem;
  color: #555;
}
